*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: calc(6.5px + .66vw); }

body {
  font-size: calc(6.5px + .66vw);
  color: #1B1B1B;
  margin: 0 auto;
  font-family: 'Poppins', sans-serif;
  color: #1B1B1B;
  background: linear-gradient(90deg, #6C9D83 0%, #B2DA9D 50%, #6C9D83 100%); }

.fullscreen {
  grid-row: top-start / interior-top;
  grid-column: status-start / right-end;
  z-index: 75;
  justify-self: end;
  position: relative; }
  .fullscreen__btn {
    position: relative;
    width: 3rem;
    height: 1.7rem;
    opacity: .3;
    margin: .5rem .1rem;
    z-index: 75;
    cursor: pointer; }
    .fullscreen__btn:hover, .fullscreen__btn:focus, .fullscreen__btn:active {
      filter: drop-shadow(2px 2px 3px #1b1b1b); }

footer {
  grid-row: interior-end / bottom-end;
  grid-column: interior-left / interior-right;
  position: relative; }

.footer {
  font-size: .75rem;
  color: #1B1B1B;
  position: absolute;
  bottom: 2px;
  width: 100%;
  text-align: center;
  z-index: 100;
  opacity: .6; }
  .footer a {
    cursor: pointer;
    color: #009245;
    text-decoration: none; }

.container {
  display: grid;
  grid-template-rows: [top-start] 4rem [interior-top] 1fr [interior-end] 4rem [bottom-end];
  grid-template-columns: [left-start] 4rem [interior-left] 1fr [interior-right] 4rem [status-start] 6rem [right-end];
  position: relative;
  opacity: .99;
  z-index: 0;
  width: 100vw;
  height: 100vh;
  max-height: 50vw;
  overflow: hidden; }

.canvas {
  grid-row: top-start / bottom-end;
  grid-column: left-start / status-start;
  width: calc(100vw - 6rem);
  height: 100%;
  opacity: .99;
  position: relative;
  z-index: 1; }
  .canvas__interior {
    grid-row: interior-top / interior-end;
    grid-column: interior-left / interior-right;
    width: calc(calc(100vw - 6rem) - (8rem));
    height: calc(100% - (8rem));
    margin: 4rem auto;
    vertical-align: middle;
    opacity: .99;
    position: relative;
    z-index: 1; }

.status {
  grid-row: top-start / bottom-end;
  grid-column: status-start / right-end;
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, [col-start] 1fr [col-end]);
  grid-template-rows: [status-top] 2fr [feedback-start] 1fr [feedback-end score-start] min-content [score-end pot-start] min-content [pot-end level-start] min-content [level-end] 1.2rem [status-bottom]; }
  .status__feedback {
    grid-row: status-top / feedback-end;
    grid-column: 1 / -1;
    margin: -0.8rem auto;
    padding: 0;
    align-self: end;
    display: block; }
    .status__feedback img, .status__feedback svg {
      animation-name: disappearUp;
      animation-delay: 0.5s;
      animation-duration: 5s;
      animation-timing-function: ease-out;
      animation-fill-mode: forwards;
      width: 4rem;
      height: auto;
      z-index: 50;
      display: block; }
  .status__score {
    grid-row: score-start / score-end;
    grid-column: 1 / -1;
    width: 4rem;
    font-size: 1.8rem;
    background-color: #C6D9CE;
    padding: 0rem .6rem;
    margin: 0.75rem 1rem .5rem 1rem;
    color: #1B1B1B;
    border-radius: 2px;
    text-align: right;
    box-shadow: 1px 1px 1px 1px rgba(27, 27, 27, 0.2); }
  .status__pic {
    grid-row: pot-start / pot-end;
    grid-column: 1 / -1;
    margin: 0 auto;
    filter: drop-shadow(2px 2px 2px rgba(27, 27, 27, 0.6));
    position: relative;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: middle;
    width: auto;
    height: 4rem; }
    .status__pic img {
      width: 3.4rem;
      height: auto;
      display: block; }
  .status__timer {
    grid-row: pot-start / pot-end;
    grid-column: 1 / -1;
    margin: 0 auto;
    position: relative;
    top: 0;
    left: 0;
    z-index: 900;
    width: auto;
    height: 4rem;
    display: block; }
    .status__timer img, .status__timer svg {
      display: block;
      margin: 0;
      width: 4rem;
      height: 4rem;
      opacity: .5; }
  .status__level {
    grid-row: level-start / level-end;
    grid-column: 1 / -1;
    width: 100%;
    padding: 0rem 1rem;
    text-align: center; }
  .status__top--green {
    grid-row: status-top / feedback-start;
    grid-column: 1 / span 1;
    background: linear-gradient(0deg, rgba(0, 146, 69, 0) 10%, #009245 60%, rgba(33, 155, 91, 0.9) 100%); }
  .status__top--blue {
    grid-row: status-top / feedback-start;
    grid-column: 2 / span 1;
    background: linear-gradient(0deg, rgba(0, 84, 212, 0) 5%, #0054D4 60%, rgba(46, 106, 197, 0.9) 100%); }
  .status__top--purple {
    grid-row: status-top / feedback-start;
    grid-column: 3 / span 1;
    background: linear-gradient(0deg, rgba(150, 48, 207, 0) 0%, #9630CF 60%, rgba(143, 66, 187, 0.9) 100%); }
  .status__bot--green {
    grid-row: level-end / status-bottom;
    grid-column: 1 / span 1;
    background: linear-gradient(0deg, #009245 0%, rgba(33, 155, 91, 0) 100%); }
  .status__bot--blue {
    grid-row: level-end / status-bottom;
    grid-column: 2 / span 1;
    background: linear-gradient(0deg, #0054d4 0%, rgba(46, 106, 197, 0) 100%); }
  .status__bot--purple {
    grid-row: level-end / status-bottom;
    grid-column: 3 / span 1;
    background: linear-gradient(0deg, #9630cf 0%, rgba(143, 66, 187, 0) 100%); }

#timer-loader {
  fill: #C6D9CE; }

#timer-border {
  fill: #C6D9CE; }

.target {
  display: none;
  width: 4em;
  height: auto;
  filter: drop-shadow(2px 2px 2px rgba(27, 27, 27, 0.6));
  position: absolute; }
  .target img {
    draggable: false;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
    standard-user-select: none; }
  .target::-moz-selection {
    background: transparent; }
  .target img::-moz-selection,
  .target svg::-moz-selection {
    background: transparent; }
  .target img::selection,
  .target svg::selection {
    background: none; }
  .target:hover {
    cursor: pointer; }
  .target--cat {
    transform: scale(1.5); }
    .target--cat::-moz-selection {
      background: transparent; }
  .target--wreath {
    display: inline-block;
    position: relative;
    z-index: 50;
    opacity: 0;
    position: absolute;
    top: -2.5rem;
    left: -2rem;
    width: 200%;
    height: 200%; }
    .target--wreath:focus, .target--wreath:hover, .target--wreath:active {
      opacity: 1;
      transition: opacity 300ms ease-in; }
  .target--start {
    display: inline-block;
    position: relative;
    z-index: 100;
    opacity: 1;
    transform: scale(1.2) translate3d(0, 0, 0); }
  .target--end {
    display: inline-block;
    position: relative;
    z-index: 100;
    opacity: 0;
    transition-property: opacity, transform;
    transition-timing-function: ease-in-out; }

.play {
  grid-row: interior-top / interior-end;
  grid-column: interior-left / interior-right;
  margin: auto;
  cursor: pointer;
  z-index: 100;
  filter: drop-shadow(1px 1px 1px rgba(27, 27, 27, 0.4));
  display: none; }
  .play svg {
    width: 7rem;
    height: auto; }

@keyframes disappearUp {
  0% {
    opacity: 1;
    transform: scale(1) translateX(0) translateY(0); }
  30% {
    transform: scale(0.7) translateX(0.5rem) translateY(-4rem); }
  70% {
    transform: scale(0.4) translateX(-1.5rem) translateY(-12rem); }
  100% {
    opacity: 0;
    transform: scale(0.2) translateX(1rem) translateY(-30rem); } }
