// Shamrock feedback
@keyframes disappearUp {
  0% {
    opacity: 1;
    transform: scale(1) translateX(0) translateY(0);
  }

  30% {
    transform: scale(.7) translateX(.5rem) translateY(-4rem);
  }

  70% {
    transform: scale(.4) translateX(-1.5rem) translateY(-12rem);
  }

  100% {
    opacity: 0;
    transform: scale(.2) translateX(1rem) translateY(-30rem);
  }
}
  
@keyframes rainbowFade {
  0% {
    height: 150%;    
  }

  100% {
    height: 50%;    

  }
}

@keyframes potOGold {
  0% {
    opacity: 0;
    transform: scale(6) translate(-7vw, 50%);
    -ms-transform: scale(6) translate(-1vw, 50%);
  }

  10% {
    opacity: 1;
    transform: scale(6) translate(-7vw, -.5rem);
    -ms-transform: scale(6) translate(-1vw, -.5rem);
  }

  13% {
    opacity: 1;
    transform: scale(6) translate(-7vw, 0);
    -ms-transform: scale(6) translate(-1vw, 0);
  }

  85% {
    opacity: 1;
    transform: scale(6) translate(-7vw, 0);
    -ms-transform: scale(6) translate(-1vw, 0);
  }

  100% {
    opacity: 1;
    transform: scale(1) translate(0, 0);
    -ms-transform: scale(1) translate(0, 0);
  }
}

@keyframes bigCat {
  0% {
    opacity: 1;
    transform: scale(2.5) translate(-40vw, 20vh);
    visibility: visible;
  }

  70% {
    opacity: 1;
    transform: scale(2.5) translate(-40vw, 20vh);
    visibility: visible;
  }

  100% {
    opacity: 0;
    transform: scale(1) 
      translate(-80vw, 20vh);
    visibility: hidden;
    }
}

@keyframes littleCat {
  0% {
    opacity: 0;
    transform: rotate(15deg) scale(.4) translate(.5rem, 1rem);
    -ms-transform: rotate(15deg) scale(.8) translate(.6rem, 1.2rem);
    visibility: hidden;
  }

  10% {
    opacity: 1;
    transform: rotate(15deg) scale(.4) translate(.5rem, 1rem);
    -ms-transform: rotate(15deg) scale(.8) translate(.6rem, 1.2rem);
    visibility: visible;
  }

  40% {
    opacity: 1;
    transform: rotate(15deg) scale(.4) translate(.5rem, -1vh);
    -ms-transform: rotate(15deg) scale(.8) translate(.6rem, 0);
    visibility: visible;
  }

  70% {
    opacity: 1;
    transform: rotate(15deg) scale(.4) translate(.5rem, -1vh);
    -ms-transform: rotate(15deg) scale(.8) translate(.6rem, 0);
    visibility: visible;
  }

  90% {
    opacity: 1;
    transform: rotate(15deg) scale(.4) translate(.5rem, 2rem);
    -ms-transform: rotate(15deg) scale(.8) translate(.6rem, 2rem);
    visibility: visible;
  }

  100% {
    opacity: 0;
    transform: rotate(15deg) scale(.4) translate(.5rem, 2rem);
    -ms-transform: rotate(15deg) scale(.8) translate(.6rem, 2rem);
    visibility: hidden;
  }
}

@keyframes zoomInOut {
  0% {
    opacity: 0;
    transform: scale(.2) translate(0, -1vh);
    visibility: hidden;
  }

  10% {
    opacity: 1;
    transform: scale(1) translate(0, -3px);
    visibility: visible;
  }

  12% {
    opacity: 1;
    transform: scale(1) translate(0, 0);
    visibility: visible;
  }

  90% {
    opacity: 1;
    transform: scale(1) translate(0, 0);
    visibility: visible;
  }

  100% {
    opacity: 0;
    transform: scale(.2) translate(0, 0);
    visibility: hidden;
  }

}

@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale(.2) translate(0, -1vh);
  }

  60% {
    opacity: 1;
    transform: scale(1) translate(0, 0);
  }

  100% {
    opacity: 1;
    transform: scale(1) translate(0, 0);
  }      
}

@keyframes scoreIn {
  0% {
    opacity: 0;
    transform: scale(.2) translate(168vw, 110vh);
    visibility: hidden;
  }

  25% {
    opacity: 1;
    transform: scale(1) translate(0, 0);
    visibility: visible;
  }

  30% {
    opacity: .7;
    transform: scale(8) translate(0, 0);
    visibility: visible;
  }

  35% {
    opacity: 1;
    transform: scale(1) translate(0, 0);
    visibility: visible;
  }

  90% {
    opacity: 1;
    transform: scale(1) translate(0, 0);
    visibility: visible;
  }

  100% {
    opacity: 0;
    transform: scale(1) translate(0, 0);
    visibility: hidden;
  }

}


@keyframes zoomWow {
  0% {
    opacity: 0;
    transform: scale(.8) rotate(-10deg);
    visibility: hidden;
  }

  80% {
    opacity: .8;
    transform: scale(10) rotate(-10deg);
    visibility: visible;
  }

  100% {
    opacity: 0;
    transform: scale(12) rotate(-10deg);
    visibility: hidden;
  }

}
