@keyframes disappearUp {
    0% {
      opacity: 1;
      transform: scale(1) translateX(0) translateY(0);
    }

    30% {
      transform: scale(.7) translateX(.5rem) translateY(-4rem);
    }

    70% {
      transform: scale(.4) translateX(-1.5rem) translateY(-12rem);
    }

    100% {
      opacity: 0;
      transform: scale(.2) translateX(1rem) translateY(-30rem);
    }
  }
  