@keyframes disappearUp {
    from {
      opacity: 1;
      transform: scale(1) translate3d(0, 0, 0);
    }
  
    to {
      opacity: 0;
      transform: scale(.2) translate3d(4rem, -12rem, 0);
    }
  }
  