*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}


html {
  box-sizing: border-box;
<<<<<<< Updated upstream
  font-size: calc(6.5px + .66vw);
  color: $color-black;
=======
<<<<<<< Updated upstream
=======
  font-size: calc(6.5px + .66vw);
>>>>>>> Stashed changes
>>>>>>> Stashed changes
  // font-size: 62.5%; // 1rem = 10px


body {
    // font-family: $font-primary;
    // font-size: $font-default-size;
    // background-color: $color-home-light;
    // min-width: $app-min-width;
    // max-width: $app-max-width;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
    color: $color-black;
  }

footer {
    grid-column: interior-left / interior-right;
    grid-row: interior-end / bottom-end;
    position: relative;
  }
  
.footer {
  font-size: .75rem;
  color: $color-black;
  position: absolute;
  bottom: 2px;
  width: 100%;
  text-align: center;
  z-index: $z-index-target;
  opacity: .6; 

  a {
    cursor: pointer;
    color: $color-green-dark;
    text-decoration: none;
  }

  }  
}  