*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}


html {
  box-sizing: border-box;
  font-size: calc(6.5px + .66vw);
  // font-size: 62.5%; // 1rem = 10px
  width: 100%;
}

body {
    // min-width: $app-min-width;
    // max-width: $app-max-width;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
    color: $color-black;
    position: fixed; // testing
    overflow: hidden; // testing
    -webkit-text-size-adjust: 100%;
    width: 100%;
  }

.fullscreen {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-row: top-start / interior-top;
  grid-column: status-start / right-end;
  z-index: $z-index-fullscreen;
  justify-self: end;
  position: relative;

  &__btn {
    position: absolute;
    right: 0;
    width: 3.2rem;
    height: 2.5rem;
    opacity: .3;
    margin: .5rem .3rem;
    z-index: $z-index-fullscreen;
    cursor: pointer;

    &:hover, 
    &:focus, 
    &:active {
      filter: drop-shadow( 2px 2px 3px rgba($color-black, 1) );
    }
  }

}  

footer {
    -ms-grid-row: 3;
    -ms-grid-row-span: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-row: interior-end / bottom-end;
    grid-column: interior-left / interior-right;
    position: relative;
    z-index: $z-index-footer;
  }
  
.footer {
  color: $color-black;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  z-index: $z-index-footer;
  opacity: .6;
  padding-bottom: .8rem; 

  p {
    font-size: .85rem;
  }

  a {
    cursor: pointer;
    color: $color-green-dark;
    text-decoration: none;
    position: relative;
    top: 0;
    opacity: .99;
    z-index: $z-index-footer;
    display: inline-block;

    &:hover, 
    &:active, 
    &:focus {
      color: $color-black;
      transition: color .3s;
    }
  }

  }  

  header {
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    grid-row: top-start / bottom-end;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: left-start / status-start;
  
  }
