.play {
    grid-row: interior-top / interior-end;
    grid-column: interior-left / interior-right;
    margin: auto;
    cursor: pointer;
    z-index: $z-index-target;
    filter: drop-shadow( 1px 1px 1px rgba($color-black, .4) );
    display: none;

    svg, img {
        width: 7rem;
        height: auto;
    }
}