.play {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-row: interior-top / interior-end;
    grid-column: interior-left / interior-right;
    cursor: pointer;
    z-index: $z-index-target;
    display: block;
    position: relative;
    height: 25vmin;
    width: 25vmin;
    margin: 30vh auto 5vh auto;

    @media all and (max-height: 400px) and (orientation: landscape) 
    { 
        margin: 20vh auto 3vh auto;
    }


    svg, img {
        width: 25vmin;
        margin: auto;
        display: block;
        height: 100%;

        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
                user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
    }

    &--replay {
        display: block;
        filter: brightness(80%) drop-shadow( 1px 1px 2px rgba($color-gray-dark, .7) );
        transition: filter 1s;
        opacity: 0;
        animation: zoomIn 1s $replay-anim-del forwards ease-out;

        &:hover, 
        &:active, 
        &:focus {
            filter: brightness(100%) drop-shadow( 2px 2px 4px rgba($color-gray-dark, .8) );
            transition: filter .3s;

        }

        svg, img {
            margin: auto;
            display: block;
            height: auto;
        }

    }

    &--start {
        display: block;
        background-color:rgba($color-gray, .5);
        border-radius: 50%;
        box-shadow: 2px 2px 3px rgba($color-black, .2);
        transition: box-shadow .3s;
        animation: zoomIn 1s forwards ease-in;

        &:hover, 
        &:active, 
        &:focus {
            box-shadow: 3px 3px 4px rgba($color-gray-dark, .6);
            transition: box-shadow .3s;

            svg, img {
                filter: opacity(.7) 
                        drop-shadow( 1px 1px 2px rgba($color-gray-dark, .4) );
                transition: filter .3s;
            }
        }

        svg, img {
            filter: opacity(.4) drop-shadow( 1px 1px 1px rgba($color-black, .2) );
            position: relative;
            top: 0;

            // &:hover, 
            // &:active, 
            // &:focus {
            //     filter: opacity(.6) drop-shadow( 1px 1px 2px rgba($color-black, .4) );
            //     transition: filter .3s;
            // }
        }
    }
    &__text {
        padding: 1rem;
        display: block;
        line-height: 1;
        position: absolute;
        top: 30%;
        margin: auto;
        width: 100%;
        text-align: center;
        font-size: 8vmin;
        font-weight: bold;
        color: rgba($color-gray-dark, 1);
        text-shadow: 1px 2px 2px rgba($color-black, .4);

        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
                user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */

    }
}