.splash {
    grid-row: top-start / bottom-end;
    grid-column: interior-left / interior-right;
    position: relative;
    z-index: $z-index-splash;
    opacity: .99;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 
        [splash-top] 10vh 
        [splash-mid-start] 1fr 
        [splash-mid-end] 20vh [splash-end];
    grid-template-columns: 
        [splash-start] 10vw 
        [splash-mid-left] 1fr 
        [splash-mid-right] 10vw [splash-right];

    &__cat {
        z-index: $z-index-splash;

        img, svg {
            draggable: false;
            // Prevent image SVG from being selected (which caused weird background)
            // Works on Chrome, not Firefox
            -webkit-touch-callout: none; /* iOS Safari */
            -webkit-user-select: none; /* Safari */
            -khtml-user-select: none; /* Konqueror HTML */
            -moz-user-select: none; /* Firefox */
                -ms-user-select: none; /* Internet Explorer/Edge */
                    user-select: none; /* Non-prefixed version, currently
                                        supported by Chrome and Opera */
            margin: 0 auto;
            }

        &--big {
            grid-row: splash-top / splash-end;
            grid-column: splash-start / splash-right;
            position: relative;
            top: 50vh;
            left: calc(50vw - #{$status-width});
            width: 100%;
            transform: scale(2.5) translate(calc(-50vw + #{$status-width}), 20vh);
            transform-origin: bottom left;
            animation: bigCat $splash-cat-big forwards;
            opacity: 0;
        }   

        &--wreath {
            grid-row: splash-mid-end / splash-end;
            grid-column: splash-mid-left / splash-mid-right;
            align-self: end;
            width: 8rem;
            height: auto;
            position: absolute;
            bottom: -2rem;
            opacity: 0;
            transform: translate(0, 5rem);
            animation: zoomInOut $splash-quick-dur forwards
                calc(#{$splash-cat-big} + .4s);
        }    

    }

    &__instruc {
        grid-row: splash-mid-start / splash-mid-end;
        grid-column: splash-start / splash-mid-right;
        width: 70%;
        text-align: right;
        margin-top: 17vh;
        color: $color-black;

        &--catch {
            font-weight: 900;
            font-size: 4vw;
            animation: zoomInOut $splash-text-dur forwards calc(#{$splash-cat-big} - .2s);
            transform-origin: bottom right;
            opacity: 0;
        }

        &--fill {
            font-size: 2.6vw;
            animation: zoomInOut calc(#{$splash-text-dur} - .5s) forwards 
                calc(#{$splash-pot-del} + .2s);
            transform-origin: bottom left;
            opacity: 0;
            text-shadow: 1px 2px 2px rgba($color-gray, .5);

        }
    }

    // &__countdown {
    //     grid-row: splash-mid-start / splash-mid-end;
    //     grid-column: splash-mid-left / splash-mid-right;
    //     margin: auto;
    //     font-size: 20rem;
    //     font-weight: bold;
    //     line-height: 0;
    //     opacity: 0;
    //     text-shadow: 2px 2px 2px rgba($color-black, .4);

    //     &--3 {
    //         animation: zoomInOut $splash-count-dur $splash-dur;
    //         color: $color-purple-dark;
    //         &:before {
    //             content: "3";
    //         }
    //     }

    //     &--2 {
    //         animation: zoomInOut $splash-count-dur calc(#{$splash-dur} + .8s);
    //         color: $color-blue-dark;
    //         &:before {
    //             content: "2";
    //         }
    //     }

    //     &--1 {
    //         animation: zoomInOut $splash-count-dur calc(#{$splash-dur} + 1.6s);
    //         color: $color-green-dark;
    //         &:before {
    //             content: "1";
    //         }
    //     }
    // }
}