.splash {
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-row: top-start / bottom-end;
    grid-column: interior-left / interior-right;
    position: relative;
    z-index: $z-index-splash;
    opacity: .99;
    width: 100%;
    height: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 10vh 1fr 20vh;
    grid-template-rows: 
        [splash-top] 10vh 
        [splash-mid-start] 1fr 
        [splash-mid-end] 20vh [splash-end];
    -ms-grid-columns: 10vw 1fr 10vw;
    grid-template-columns: 
        [splash-start] 10vw 
        [splash-mid-left] 1fr 
        [splash-mid-right] 10vw [splash-right];

    &__cat {
        z-index: $z-index-splash;

        img, svg {
            // Prevent image SVG from being selected (which caused weird background)
            user-select: none; 
            margin: 0 auto;
            }

        &--big {
            -ms-grid-row: 1;
            -ms-grid-row-span: 3;
            -ms-grid-column: 1;
            -ms-grid-column-span: 3;
            grid-row: splash-top / splash-end;
            grid-column: splash-start / splash-right;
            position: relative;
            top: 50vh;
            left: 36vw;
            // left: calc(50vw - #{$status-width});
            width: 100%;
            transform: scale(2.5) translate(42vw, 20vh);
            // transform: scale(2.5) translate(calc(-50vw + #{$status-width}), 20vh);
            transform-origin: bottom left;
            animation: bigCat $splash-cat-big forwards;

            opacity: 0;
            z-index: $z-index-splash;
        }   

        &--wreath {
            -ms-grid-row: 3;
            -ms-grid-row-span: 1;
            -ms-grid-column: 2;
            -ms-grid-column-span: 1;
            grid-row: splash-mid-end / splash-end;
            grid-column: splash-mid-left / splash-mid-right;
            align-self: end;
            width: 8rem;
            height: auto;
            position: absolute;
            bottom: -2rem;
            opacity: 0;
            animation: zoomInOut $splash-quick-dur forwards 2.4s;
            // animation: zoomInOut $splash-quick-dur forwards
            //     calc(#{$splash-cat-big} + .4s);
            z-index: $z-index-splash;
            }    

    }

    &__instruc {
        -ms-grid-row: 2;
        -ms-grid-row-span: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
        grid-row: splash-mid-start / splash-mid-end;
        grid-column: splash-start / splash-mid-right;
        width: 70%;
        text-align: right;
        margin-top: 17vh;
        color: $color-black;
        transform: rotate(-10deg);

        &--catch {
            font-weight: 900;
            font-size: 3.5vw;
            animation: zoomInOut $splash-text-dur forwards 1.8s;
            transform-origin: bottom right;
            opacity: 0;
        }

        &--fill {
            font-size: 2.4vw;
            animation: zoomInOut 3.5s forwards 3.2s;
            // animation: zoomInOut calc(#{$splash-text-dur} - .5s) forwards calc(#{$splash-pot-del} + .2s);
            transform-origin: bottom left;
            opacity: 0;
            text-shadow: 1px 2px 2px rgba($color-gray, .5);
        }
    }
}