.status {
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-row: top-start / bottom-end;
    grid-column: status-start / right-end;
    width: 100%;

    position: relative;
    // IE 11 requires use of old grid spec
    display: -ms-grid;
    -ms-grid-rows: 2fr 1fr min-content min-content min-content min-content;
    -ms-grid-columns: 1fr 1fr 1fr;
    display: grid;
    grid-template-columns: repeat(3, [col-start] 1fr [col-end]);
    grid-template-rows: 
        [status-top] 2fr
        [feedback-start] 1fr
        [feedback-end score-start] min-content
        [score-end pot-start] min-content
        [pot-end level-start] min-content
        [level-end] min-content [status-bottom];

    &__feedback {
        -ms-grid-row: 2;
        -ms-grid-row-span: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
        grid-row: status-top / feedback-end;
        grid-column: 1 / -1;
        margin: -0.8rem auto;
        padding: 0;
        align-self: end;
        display: block;

        img, svg {
            animation-name: disappearUp;
            animation-delay: 0.5s;
            animation-duration: 5s;
            animation-timing-function: ease-out;
            // animation-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1);
            animation-fill-mode: forwards;
            width: 4rem;
            height: auto;
            z-index: $z-index-feedback;
            display: block;
        }

    }

    &__score {
        -ms-grid-row: 3;
        -ms-grid-row-span: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
        grid-row: score-start / score-end;
        grid-column: 1 / -1;
        font-size: 1.8rem;
        background-color: $color-gray;
        padding: 0rem .6rem;
        color: $color-black;
        border-radius: 2px;
        text-align: right;
        box-shadow: 1px 1px 1px 1px rgba($color-black, .2);
        width: 4rem;
        z-index: $z-index-feedback;
        margin: 0.75rem 1rem .5rem 1rem;
        opacity: 0;
        animation: zoomIn $splash-quick-dur forwards 7.1s;
        // animation: zoomIn $splash-quick-dur forwards 
        //     calc(#{$splash-status-del} + .6s);
        }    

    // Pot o Gold
    &__pic {
        -ms-grid-row: 4;
        -ms-grid-row-span: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
        grid-row: pot-start / pot-end;
        grid-column: 1 / -1;
        filter: drop-shadow( 2px 2px 2px rgba($color-black, .6) );
        position: relative;
        top: 0;
        left: 0;
        display: inline-block;
        width: 100%;
        height: 4rem;
        z-index: $z-index-pot;
        opacity: 0;
        animation: $splash-pot-dur potOGold $splash-pot-del forwards;
        // TODO ANIMATION IS FUNKY ON IE 11
        // animation: 20s potOGold 20s forwards;
        // transform: scale(6) translate(-7vw, 7vh);


        img {
            margin: .6rem auto 0 auto;
            width: 3.4rem;
            height: auto;
            display: block;
            position: relative;
            z-index: $z-index-pot;
        }

        &:after {
            -ms-grid-row: 4;
            -ms-grid-row-span: 1;
            -ms-grid-column: 1;
            -ms-grid-column-span: 3;
            grid-row: pot-start / pot-end;
            grid-column: 1 / -1;
                content: url(../img/lucky_cat_sm.svg);
            position: absolute;
            top: -1rem;
            left: 2rem;
            display: block;
            z-index: $z-index-cat-behind-pot;
            // z-index: calc(#{$z-index-pot} - 5);
            opacity: 0;
            animation: littleCat $splash-quick-dur forwards $splash-little-del;
            // animation: littleCat 10s 2s;
        }
    }

    &__timer {
        -ms-grid-row: 4;
        -ms-grid-row-span: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
        grid-row: pot-start / pot-end;
        grid-column: 1 / -1;
        margin: 0 auto;
        position: relative;
        top: 0;
        left: 0;
        z-index: $z-index-feedback;
        width: 100%;
        height: 4rem;
        display: block;
        
        img, svg {
            display: block;
            margin: 0 auto;
            width: 4rem;
            height: 4rem;
            opacity: .5;
        }

    }

    &__level {
        -ms-grid-row: 5;
        -ms-grid-row-span: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
        grid-row: level-start / level-end;
        grid-column: 1 / -1;
        width: 100%;
        padding: 0rem 1rem;
        text-align: center;
        z-index: $z-index-back-elements;
        opacity: 0;
        animation: zoomIn $splash-quick-dur forwards 6.5s;
        // animation: zoomIn $splash-quick-dur forwards 
        //     calc(#{$splash-status-del} + .3s);
        }  
    
    &__top--green {
        -ms-grid-row: 1;
        -ms-grid-row-span: 6;
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
        grid-row: status-top / status-bottom;
        grid-column: 1 / span 1;
        background: linear-gradient(0deg, rgba($color-green-dark, 0) 10%, 
            $color-green-dark 60%, rgba($color-green, .9) 100%);  
        z-index: $z-index-back;    
        @include rainbowAnimation;
    }

    &__top--blue {
        -ms-grid-row: 1;
        -ms-grid-row-span: 6;
        -ms-grid-column: 2;
        -ms-grid-column-span: 1;
        grid-row: status-top / status-bottom;
        grid-column: 2 / span 1;
        background: linear-gradient(0deg, rgba($color-blue-dark, 0) 5%, 
            $color-blue-dark 60%, rgba($color-blue, .9) 100%);  
        z-index: $z-index-back;    
        @include rainbowAnimation;
        }

    &__top--purple {
        -ms-grid-row: 1;
        -ms-grid-row-span: 6;
        -ms-grid-column: 3;
        -ms-grid-column-span: 1;
        grid-row: status-top / status-bottom;
        grid-column: 3 / span 1;
        background: linear-gradient(0deg, rgba($color-purple-dark, 0) 0%, 
            $color-purple-dark 60%, rgba($color-purple, .9) 100%);  
        z-index: $z-index-back;    
        @include rainbowAnimation;
        }

    
    &__bot--green {
        -ms-grid-row: 6;
        -ms-grid-row-span: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
        grid-row: level-end / status-bottom;
        grid-column: 1 / span 1;
        background: linear-gradient(0deg, rgba($color-green-dark, 1) 0%, 
            rgba($color-green, 0) 100%);  
        opacity: 0;
        border: none;
        padding: 0;
        margin: 0;
        transform-origin: bottom left;
        animation: zoomIn $splash-quick-dur forwards $splash-status-del;
        height: 2.5rem;
        width: 103%;
        }

    &__bot--blue {
        -ms-grid-row: 6;
        -ms-grid-row-span: 1;
        -ms-grid-column: 2;
        -ms-grid-column-span: 1;
        grid-row: level-end / status-bottom;
        grid-column: 2 / span 1;
        background: linear-gradient(0deg, rgba($color-blue-dark, 1) 0%, 
            rgba($color-blue, 0) 100%);  
        opacity: 0;
        height: 2.5rem;
        width: 103%;
        transform-origin: bottom center;
        animation: zoomIn $splash-quick-dur forwards $splash-status-del;
        }

    &__bot--purple {
        -ms-grid-row: 6;
        -ms-grid-row-span: 1;
        -ms-grid-column: 3;
        -ms-grid-column-span: 1;
        grid-row: level-end / status-bottom;
        grid-column: 3 / span 1;
        background: linear-gradient(0deg, rgba($color-purple-dark, 1) 0%, 
            rgba($color-purple, 0) 100%);  
        opacity: 0;
        transform-origin: bottom right;
        animation: zoomIn $splash-quick-dur forwards $splash-status-del;
        }

}

#timer-loader 
{ fill: $color-gray; }

#timer-border 
{ fill: $color-gray; }

