.target {
    display: none;
    width: 4em;
    height: auto;
    filter: drop-shadow( 2px 2px 2px rgba($color-black, .6) );
    position: absolute;
    padding: .5rem;


    &--start {
        display: inline-block;
        position: relative;
        z-index: $z-index-target;
        opacity: 1;
        transform: scale(1.2) translate3d(0, 0, 0);

        &:hover {
            cursor: pointer;
        }


    }

    &--end {
        display: inline-block;
        position: relative;
        z-index: $z-index-target;
        opacity: 0.05;

        transition-property: opacity, transform;
        transition-timing-function: ease-in-out;


        &:hover {
            cursor: pointer;
        }
    }
}
