// DIMENSIONS
$status-width: 6rem;
$canvas-width: calc(100vw - #{$status-width});
$canvas-height: 100%;

$max-move: 4rem;

// Z-INDEX
$z-index-target: 300;
$z-index-back: 0;
$z-index-back-elements: 5;
$z-index-canvas: 10;
$z-index-feedback: 50;
$z-index-fullscreen: 75;
$z-index-splash: 150;


// ANIMATION TIMES
$splash-dur: 7s;
$splash-cat-big: 2s;
$splash-count-dur: .7s;
$splash-pot-dur: calc(#{$splash-dur} - 4.5s);
$splash-pot-del: calc(#{$splash-cat-big} + 1s);
$splash-little-del: calc(#{$splash-pot-del} + (#{$splash-pot-dur} / 2);
$splash-text-dur: 4s;
$splash-status-del: calc(#{$splash-pot-del} + #{$splash-pot-dur});
$splash-quick-dur: 1s;
$score-anim-dur: 3s;
$replay-anim-del: calc(#{$score-anim-dur} / 2);
$wow-anim-del: calc(#{$score-anim-dur} / 3);
$wow-anim-dur: $wow-anim-del;

// COLORS
$color-green-dull: #6C9D83;
$color-green-lime: #B2DA9D;
$color-green: #219B5B;
$color-green-dark: #009245;
$color-blue: #2E6AC5;
$color-blue-dark: #0054D4;
$color-purple: #8F42BB;
$color-purple-dark: #9630CF;

$color-gray: #C6D9CE;
$color-gray-dark: #4E4D4D;
$color-black: #1B1B1B;
   